
h1.main {
    text-align: center;
    padding-bottom: 1em;
}


div.header {
    padding: 10px 0;
}
.xpenses .header {
    font-weight: bold;

}

/* XEDITABLE */
.editable-wrap,
.editable-wrap .editable-controls,
.editable-wrap .editable-controls .editable-input {
    width: 100%;
}