<!DOCTYPE html>
<html ng-app="xpnjsApp">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Note de Frais</title>

    <!-- bower -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>-->
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css"/>

    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <!-- !bower -->

    <script src="js/i18n/angular-locale_fr-fr.js"></script>

    <script src="js/xpnjs.js"></script>

    <link href="css/xpns.css" rel="stylesheet"/>
</head>
<body ng-controller="xpnsListCtrl">

    <h1 class="main">Note de Frais</h1>

    <div class="container xpenses">
        <div class="row header">
            <div class="col-md-2 cell">date</div>
            <div class="col-md-4 cell">label</div>

            <div class="col-md-1 cell" ng-repeat="type in types">{{type.label}}</div>
            <div class="col-md-1">&nbsp;</div>
        </div>
        <div class="row" ng-repeat="xpn in xpns | orderBy:orderProp">
            <span class="" ng-show="debug">{{xpn.id}}</span>
            <div class="col-md-2 cell"><span editable-bsdate="xpn.date" buttons="no" blur="submit" onbeforesave="checkDate($data, xpn.date)"
                                        e-show-button-bar="false" e-datepicker-popup="dd/MM" e-required="true"
                                        e-class="form-control">{{xpn.date | date:'dd/MM'}}</span></div>
            <div class="col-md-4 cell"><span editable-text="xpn.label" buttons="no">{{xpn.label}}</span></div>
            <div class="col-md-1 cell" ng-repeat="type in types">
                <span editable-number="xpn.value" buttons="no" ng-show="xpn.type === type.label">{{xpn.value | currency}}&nbsp;</span>
                <span ng-show="xpn.type != type.label">&nbsp;</span></div>
            <div class="col-md-1 action-cell"><a href="#" ng-click="removeLine(xpn)"><span class="glyphicon glyphicon-remove"></span></a></div>
        </div>

       <form name="lineForm" novalidate ng-submit="addLine(newLine, lineForm.$valid)">
           <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        <div class="row addLine form-group" bs-has-error>
            <div class="col-md-2 cell"><input type="text" datepicker-popup="dd/MM" show-button-bar="no" ng-model="newLine.date"
                                          required class="form-control"/></div>
            <div class="col-md-4 cell"><input type="text" ng-model="newLine.label" required class="form-control"/></div>


            <!--<div class="col-md-1 cell" ng-repeat="type in types"><input type="number" min="0" ng-model="newLine[$type]" class="form-control"/></div>-->


            <!--<div class="col-md-1 cell"><input type="number" min="0" ng-model="newLine.resto" class="form-control"/></div>-->
            <!--<div class="col-md-1 cell   "><input type="number" min="0" ng-model="newLine.parking" class="form-control"/></div>-->
            <div class="col-md-1 action-cell"><a href="#" ng-show="lineForm.$valid" ng-click="addLine(newLine, lineForm.$valid)">
                <span class="glyphicon glyphicon-ok"></span>
            </a></div>
        </div>
       </form>

        <div class="row footer">
            <div class="col-md-6 cell">TOTAL</div>
            <div class="col-md-1 cell" ng-repeat="type in types">{{ type.total | currency }}</div>
            <div class="col-md-1 cell">{{ total | currency }}</div>
        </div>
    </div>

</body>
</html>